/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  background-color: whitesmoke;
  padding-top: 30px;
}

nav {
  margin: auto;
  display: flex;
  width: 85%;
  height: 50px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
}

nav .logo {
  width: 180px;
}
nav .logo img {
  width: 100%;
}

nav ul {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font: 15px "poppins";
}
nav ul li.selected-li a {
  color: rgb(75, 144, 240);
}

span.underline {
  text-decoration: underline;
}

span.udln-blue {
  position: absolute;
  top: 15px;
  right: 64px;
}
span.udln-blue img {
  width: 250px;
  height: 35px;
}

header {
  margin: 160px auto 100px;
  padding: 0px 20px;
  width: 85%;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

header .web-desc {
  width: 40%;
  height: 100%;
  /* border: 1px solid black; */
  /* background-color: blue; */
  padding-right: 5px;
  box-sizing: border-box;
}

header .web-gif {
  width: 60%;
  height: 500px;
  /* padding-left: 80px; */
  display: flex;
  justify-content: flex-end;
}

header .web-gif img {
  margin-left: 30px;
  height: 100%;
}

header h1 {
  font-family: Arial, Helvetica, sans-serif;

  letter-spacing: 3px;
  font-size: 53px;
  line-height: 1.5;
  font-weight: bold;
  margin-top: -10px;
}

header p {
  margin-top: 25px;
  font-size: 17px;
  font-family: poppins;
  line-height: 45px;
  padding-left: 5px;
}

header .tombol {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 25px;
  border-radius: 5px;
  background-color: rgb(75, 144, 240);
  padding: 5px;
  box-sizing: border-box;
}

header .tombol a {
  font: 18px "poppins";
  color: white;
  text-decoration: none;
}

header .tombol a::after {
  content: " ⟶  ";
}

header .tombol a:hover {
  text-decoration: underline;
}

#landing {
  text-align: center;
  margin-bottom: 80px;
  background-color: aliceblue;
}

#landing h2 {
  font: 28px "poppins";
  margin-bottom: 25px;
}

#landing p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  margin: auto;
  width: 600px;
  line-height: 30px;
}

#company-list {
  width: 100%;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  margin-bottom: 150px;
}

#company-list .logo-item {
  height: 150px;
  width: 33%;
  /* border: 1px solid black; */
  justify-content: center;
  display: flex;
}

#company-list .first-logo {
  align-items: center;
}

#services {
  margin: 0px auto 50px;
  text-align: center;
}
#services h3 {
  font: 36px "poppins";
  margin-bottom: 100px;
}

#services .svc-content {
  margin: auto;
  /* border: 1px solid black; */
  width: 700px;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.svc-desc {
  margin-top: 30px;
  width: 50%;
  text-align: left;
}

.svc-desc h4 {
  padding-left: 30px;
  font: 26px "poppins";
}

.svc-desc p {
  /* border: 1px solid black; */
  padding: 30px 30px 30px 60px;
  width: 88%;
  font: 17px "arial";
  line-height: 40px;
  box-sizing: border-box;
  letter-spacing: 1.5;
  margin-left: 20px;
}

.svc-thumbs {
  width: 50%;
  display: flex;
  /* background-color: red;
  border: 1px solid black; */
  justify-content: center;
}

.svc-thumbs img {
  width: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.slide ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.slide ul li a {
  margin: 50px 20px;
  display: inline-block;
  width: 70px;
  height: 4px;
  background-color: lightgray;
  border-radius: 5px;
}

.slide ul li:nth-child(1) a {
  background-color: lightskyblue;
}

.slide ul li a:hover {
  background-color: lightskyblue;
}

#contact-us {
  text-align: center;
  margin-bottom: 50px;
}

.contact-head {
  width: 600px;
  margin: auto;
}

.contact-head h3 {
  font: 50px "poppins";
  margin-bottom: 25px;
}

.contact-head p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  /* text-align: left; */
  width: 600px;
  line-height: 30px;
}

#contact-form {
  margin-bottom: 50px;
}

.form-container {
  display: flex;
  margin: auto;
  width: 800px;
  height: 500px;
  /* border: 1px solid black; */
  justify-content: space-between;
}

.contact-info {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* border: 1px  solid red; */
}

.icon-contact {
  /* border: 1px solid red; */
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon-contact img {
  width: 50px;
  margin: 5px;
}

.icon-contact span {
  font: 18px "poppins";
  margin: 5px;
}
.form {
  width: 45%;

  font: 16px "poppins";
  display: flex;
  padding: 10px 30px;
}
.agreement {
  display: flex;
  justify-content: center;
}
.agreement label {
  font: 14px poppins;
  width: 70%;
}

.agreement a {
  color: rgb(75, 144, 240);
}
.check-box {
  margin-right: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form .input-1 {
  height: 30px;
  border-radius: 5px;
  border: 0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

form textarea {
  height: 80px;
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.submit-btn {
  margin: 0px auto;
  width: 90%;
  cursor: pointer;
  padding: 10px;
  border: 0;
  background-color: rgb(75, 144, 240);
}

.submit-btn a {
  color: white;
  width: 100%;
  text-decoration: none;
}

.submit-btn:hover a {
  text-decoration: underline;
}
